#timer{
    border:1px solid rgb(200,200,200);
    padding: 20px;
    border-radius: 5px;
    font-family: 'Istok Web', sans-serif;
   
}
.large{
    font-size: 100px;
    margin: 5px;
    color:rgb(230,230,230);
    
}
.medium{
    font-size: 40px;
     color:rgb(230,230,230);
}
.small{
    font-size: 60px;
    color:rgb(230,230,230);
}

.controlButtons{
    text-align: center;
}
.marginClass{
    margin: 5px;
    display: inline-block;
    
}
.border{
   border-right:1px solid black;
   
}
.dark{
    color: black
}
